body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #2F4F4F;
  color: white;
  margin: 0;
}

#root {
  flex: 1;
}

.control-center {
  padding: 1em;
  color: white;
}

.register-container {
  width: 400px;
  margin: 0 auto;
}

.register-container input {
  padding: 0.6em;
  font-size: 1.2em;
  float: left;
  border: 0;
  display: block;
  margin: 0;
}

.register-container h1 {
  text-align: center;
}
.register-container form {
  display: flex;
}

.register-container form .name {
  flex-grow: 1;
}

.start-button {
  min-width: 4em;
}

.error {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em 2em;
  background-color: #2F4F4F;
  color: white;
}
