<!DOCTYPE html>
<html lang="sv">

<head>
  <title>FriendsMapPlotter</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Anton Hedström">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <link href='/css/main.css' rel='stylesheet' type='text/css'>

  {{!-- <script defer src="/js/vendors.js"></script> --}}
  <script defer src="/js/app.bundle.js"></script>

</head>

<body>
  {{{body}}}
</body>

</html>
