<div class="register-container">
  <h1>What is your nick?</h1>
  <div class="register">
    <form method="POST" action="/join">
      <input type="text" class="name" name="username" />
      <input type="submit" class="start-button" value="GO" />
    </form>
  </div>
</div>
