<h1>What is your name?</h1>
<p>
  That's all we need.
</p>
<div class="register">
  <form method="POST" action="/join">
    <input type="text" name="username" />
    <input type="submit" value="GO" />
  </form>
</div>
